# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
sql

# Exclude all log files
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Database directory contains the database used for testing
database/
